<template name="navigation_bar">
  <div class="bottom_navigation_buttons">
    <a href="/" class="btn btn-default three_bottom_button" id="recipes_nav">
      <i class="fa fa-align-justify" aria-hidden="true"></i>
      <span class="three_bottom_text"><br/>My Recipes</span>
    </a>
    <a href="/plan" class="btn btn-default three_bottom_button" id="plan_nav">
      <i class="fa fa-search three_bottom_icon" aria-hidden="true"></i>
      <span class="three_bottom_text"><br/>Discover</span>
    </a>
    <a href="/diet" class="btn btn-default three_bottom_button" id="diet_nav">
      <i class="fa fa-user-circle three_bottom_icon" aria-hidden="true"></i>
      <span class="three_bottom_text"><br/>Your Profile</span>
    </a>
  </div>
</template>
