<template name="App_view">
  {{#with currentRecipe}}
  <div class="picture_holder">
    <img class="recipeImg" src="/cfs/files/images/{{foodImg}}"/>
  </div>
  <div>
    <div class="container">
      <div class="view_recipe_name">{{name}}</div>
      <div class="difficulty_and_servings">
        <div class="inline">
          <span>{{difficulty}} difficulty</span>
        </div>
        <div class="inline text_and_input">
          <span>{{servings}} servings</span>
        </div>
      </div>
      <div class="meal">
        <div class="inline">
          <span>{{meal}}</span>
        </div>
        <div class="text_and_input time">
          <span>preparation time: {{time}} min</span>
        </div>
      </div>
      <div class="recipeImgContainer">
        <!--// recipe image here-->
        <img src="/cfs/files/images/{{recipeImg}}" class="recipeImg"/>
      </div>
      <div>
        <span class="h2">Ingredients: </span>
        <br />
        <span>{{ingredients}}</span>

        <br />
        <span class="h2">Instructions: </span>
        <br />
        <span>{{instructions}}</span>

        <br />
        <span class="h2">Keywords: </span>
        <br />
        <span>{{keywords}}</span>
      </div>
    </div>
  </div>
  <div class="go_home">
    <a href="/" id="homeButton" class="btn btn-default add_bottom_buttons">home</a>
    <a href="/add/{{_id}}" id="editButton" class="btn btn-default add_bottom_buttons">edit</a>
  </div>
  {{/with}}
</template>
