body {
    background-color: #f5f5f5;
  }

.camButton{
    font-size:100px !important;
    position: absolute;
    top:25px;
    left:300px;
    height:200px;
    width:200px;
}

.galleryButton{
    font-size:100px !important;
    position: absolute;
    top:25px;
    left:500px;
    height:200px;
    width:200px;
}

