.dietInner{
  display:flex;
  flex-direction: row;
  width: 100%;
}

.dietImportanceSelect{
  margin-left: auto;
  background-color: @primary;
}

.preferenceLabels{
  border-bottom: 1px solid @highlight;
  margin-top: 0.2rem;
  display:flex;
  width: 100%;
}

.dietsAll{
  margin-top: 10px;
  height: 17rem;
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;
  border-bottom: 1px solid @highlight;
}

.dietItem{
  color: black;
  background-color: inherit;
}

.dietDisclaimer{
  color: @highlight;
  margin-top: 2rem;
}

.dietImportance{
  margin-left:auto;
  margin-top: 1px;
  height: 100%;
}

.dietName{
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.dietMinusButton{
  margin-left: auto;
  margin-right: 0.2rem;
}

.logoutButton{
  width: 100%;
  margin-top: 1rem;
  border-radius: 30px;
  background-color: @secondaryColor;
  color: white;
}

.deleteButton {
  width: 2rem;
  height: 2rem;
  display: flex;
  margin-left: -0.5rem;
  align-items: center;
  justify-content: center;
  color: red;
}

.logout_text{
}
