.helpTopicTitle {
  width: 100%;
  display: inline-flex;
}

.dropdown {
  margin-left: auto;
  border: 1px black solid;
  border-radius: 30px;
  width: 23px;
  height: 23px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.helpTitleText{
  cursor: pointer;
  width: 95%;
}

.helpGroup {
  margin-bottom: .6rem;
}