body {
  background-color: #f5f5f5;
}

.titleBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.titleBar .title{
  margin-right: auto;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInput {
  margin: auto;
}