#AppLOGIN{
    background-color:#FF0000;
}

.TitleName{
    font-size: 175px;
    font-family:Brush Script MT, Brush Script Std, cursive
}

.col-xs-12{
    height: 150px;
}

.Input{
    font-size: 50px;
    border-style: solid;
    border-radius: 9px;
}

#loginButton{
    border: none;
    font-size: 50px;
    background-color: #00cc66;
    border-radius:9px;   
}

