#AppLOGIN{
    background-color:#FF0000;
}

.TitleName{
    font-size: 175px;
    font-family:Brush Script MT, Brush Script Std, cursive;
    text-decoration:underline;
    color: lightskyblue;
    text-decoration-color: black;
    
}

.col-xs-12{
    height: 150px;
}

.Input{
    font-size: 50px;
    text-align: center;
    border-style: solid;
    border-radius: 9px;
}

#loginButton{
    border: none;
    font-size: 65px;
    background-color: #00cc66;
    border-radius:9px;   
}

#newUser{
    font-size: 25px;
}

