.plan_picture{
  width: 100%;
  margin-top: 1rem !important;
}

.plan_very_well_rounded{
  border-radius: 15px !important;
  margin-top: .1rem;
}

.plan_recipe_title{
  margin-top: .5rem;
}

.planRecipeDetails{
  margin-top: -.5rem;
}

.planTags{
  margin-bottom: 1rem;
}

.planDisclaimer{
  color: @highlight;
  font-size: 15px;
  margin-top: 1.5rem;
  margin-left: auto;
}

.planTitleBar{
  display: flex;
}
